 *{ 
    box-sizing: border-box; 
   } 
   .ezTime{ 
    float: right; 
    width: 5%; 
    height: 20px; 
    color: red; 
    border: 1px solid red; 
    border-right: 20px solid cornflowerblue; 
   } 
   .ezMessages{ 
    float: left; 
    width: 5%; 
    height: 20px; 
    color: red; 
    border: 1px solid red; 
    border-right: 20px solid cornflowerblue; 
   } 
   
   
